@import 'vuetify';
@import '~vuetify/dist/vuetify.min.css';
// * {
//   margin: 0 !important;
//   padding: 0 !important;
// }
.v-application {
  margin-top: 0 !important;
}
// ::-webkit-scrollbar {
//   width: 0;
// // }
// html {
//   overflow: hidden;
// }
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background: #bdbdbd;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  background: #bdbdbd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161;
}
